.idea/
.gradle/
**/build/
.kotlin/
gradle-plugin/src/main/kotlin/cn/rtast/kembeddable/resources/gradle/BuildConstants.kt
test-plugin/src/linuxMain/resources/krepo-backend.js
test-plugin/src/linuxMain/resources/krepo-backend.js.map
test-plugin/src/linuxMain/resources/1.ipynb